body {
    padding: 0;
}

.container {
    min-height: 500px;
}

.input-height-button {
    height: 36px;
    margin-top: 12px;
}

.buffer-right-10 {
    margin-right: 10px;
}
.list-toolbar {
    min-height: 40px !important;
    border-radius: 3px;
    background-color: #e5e5ee !important;
    font-size: 18px;
}

.md-toolbar-tools {
    height: 40px;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
}
.green-bg {
    background-color: rgba(203, 232, 201,0.87) !important;
}

table {
    border: 1px solid #cacaca;
    padding: 5px;
}

th {
    background-color: #e5e5ee;
    padding: 10px;
}
td {
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background: #e5e5ee;
}
.padded-content {
    padding: 15px;
}

.page-title {
    font-size: 22px;
    font-weight: 500;
}

.md-headline {
    font-size: 17px;
    font-weight: 500;
    line-height: 10px;
}

.nav-text {
    color: black;
}
