<!-- START: navigation bar -->
    <!-- START: medium screen to large -->
    <md-toolbar layout="row" layout-align="none center" md-scroll-shrink="true" hide-xs hide-sm show-gt-sm flex>
        <span flex></span>
        <div class="md-toolbar-tools" flex="80">
            <h2 layout="row" layout-align="center center">
              <md-icon md-svg-icon="images/icons/ic_directions_bus_black_36px.svg"></md-icon>
              <span class="nav-text">&nbsp;&nbsp;Fleet Management System - DEV Version on insight-ui-dev.com</span>
            </h2>
            <span flex></span>
            <span ng-show="fleetName" class="nav-text">{{fleetName}} / <small>Fleet with ID {{fleetId}}</small></span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Home" href="/#/fleets">
                <md-tooltip>Home</md-tooltip>
                <img src="images/icons/ic_home_black_36px.svg" style="width:24px;height:24px;"/>
            </md-button>
            <md-button class="md-icon-button" aria-label="Your Account" href="/#/my-account">
              <md-tooltip>Your Account</md-tooltip>
              <img src="images/icons/ic_person_black_36px.svg" style="width:24px;height:24px;"/>
            </md-button>
            <div ng-controller="NotificationsCtrl">
                <md-button class="md-icon-button" aria-label="Logout" ng-if="!meta.iconActive" ng-click="toggle()">
                    <md-tooltip>Notifications</md-tooltip>
                    <img src="images/icons/ic_notifications_black_36px.svg" style="width:24px;height:24px;"/>
                </md-button>
                <md-button class="md-icon-button" aria-label="Logout" ng-if="meta.iconActive" ng-click="toggle()">
                    <md-tooltip>Notifications</md-tooltip>
                    <img src="images/icons/ic_notifications_active_black_36px.svg" style="width:24px;height:24px;"/>
                </md-button>
            </div>
            <md-button class="md-icon-button" aria-label="System Management" href="/#/system-management">
              <md-tooltip>System Management</md-tooltip>
              <img src="images/icons/ic_settings_black_36px.svg" style="width:24px;height:24px;"/>
            </md-button>
            <md-button ng-click="logout()" class="md-icon-button" aria-label="Logout">
                <md-tooltip>Logout</md-tooltip>
                <img src="images/icons/ic_lock_outline_black_36px.svg" style="width:24px;height:24px;"/>
            </md-button>
       </div>
       <span flex></span>
    </md-toolbar>
    <!-- END: medium screen to large -->
    <!-- START: smaller screens -->
    <div ng-controller="MobileNavigationCtrl" show-xs show-sm hide-gt-sm>
        <md-toolbar layout="row" layout-align="none center">
            <span flex></span>
            <div class="md-toolbar-tools" flex="95">
                <span class="nav-text">
                    <md-icon md-svg-icon="images/icons/ic_directions_bus_black_36px.svg"></md-icon> Fleet Management System
                </span>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Toggle Side Navigation" ng-click="toggleMobileMenu()">
                    <md-tooltip>Toggle Side Navigation</md-tooltip>
                    <img src="images/icons/ic_menu_black_36px.svg" style="width:24px;height:24px;"/>
                </md-button>
            </div>
            <span flex></span>
        </md-toolbar>
        <!-- START: Hamburger menu, invoked by small navigation bar -->
        <md-sidenav class="md-sidenav-right" md-component-id="mobile-navigation">
            <md-content layout-margin>
                <div layout="row" layout-align="center center">
                    <div>
                        <span class="nav-text">&nbsp;&nbsp;Fleet Management System</span>
                    </div>
                </div>
                <div layout="column">
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="Home" href="/#/fleets">
                            <img src="images/icons/ic_home_black_36px.svg" style="width:24px;height:24px;"/>
                        </md-button>
                        <p>Home</p>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="Your Account" href="/#/my-account">
                            <img src="images/icons/ic_person_black_36px.svg" style="width:24px;height:24px;"/>
                        </md-button>
                        <p>Account</p>
                    </div>
                    <div ng-controller="NotificationsCtrl" layout="row" layout-align="start center">
                        <div>
                            <md-button class="md-icon-button" aria-label="Logout" ng-if="!meta.iconActive" ng-click="toggle()">
                                <img src="images/icons/ic_notifications_black_36px.svg" style="width:24px;height:24px;"/>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Logout" ng-if="meta.iconActive" ng-click="toggle()">
                                <img src="images/icons/ic_notifications_active_black_36px.svg" style="width:24px;height:24px;"/>
                            </md-button>
                        </div>
                        <p>Notifications</p>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="System Management" href="/#/system-management">
                            <img src="images/icons/ic_settings_black_36px.svg" style="width:24px;height:24px;"/>
                        </md-button>
                        <p>System Management</p>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
                            <img src="images/icons/ic_lock_outline_black_36px.svg" style="width:24px;height:24px;"/>
                        </md-button>
                        <p>Logout</p>
                    </div>

                    <div layout="row" layout-align="start center" aria-label="Toggle Side Navigation">
                        <md-button class="md-icon-button" aria-label="Close Menu" ng-click="toggleMobileMenu()">
                            <img src="images/icons/ic_close_black_36px.svg" style="width:24px;height:24px;"/>
                        </md-button>
                        <p>Close</p>
                    </div>
                </div>
            </md-content>

        </md-sidenav>
        <!-- END: Hamburger menu, invoked bt small navigation bar -->
    </div>
    <!-- END: smaller screens -->
<!-- END: navigation bar -->

<!-- START: base notifications view -->
    <div ng-controller="NotificationsCtrl">
        <md-card ng-show="meta.viewActive">
            <md-content>
                <md-button ng-click="add()">Test Notification</md-button>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Notifications</md-subheader>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-repeat="item in list" ng-click="null">
                        <img ng-src="images/icons/ic_home_black_36px.svg" class="md-avatar" alt="Icon" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <md-icon ng-if="item.severity == 0" md-svg-icon="images/icons/ic_sentiment_very_satisfied_black_36px.svg"></md-icon>
                                <md-icon ng-if="item.severity == 1" md-svg-icon="images/icons/ic_sentiment_neutral_black_36px.svg"></md-icon>
                                <md-icon ng-if="item.severity == 2" md-svg-icon="images/icons/ic_sentiment_very_dissatisfied_black_36px.svg"></md-icon>
                                {{ item.title }}
                            </h3>
                            <h4>{{ item.message }}</h4>
                            <p>{{ item.datetime }}</p>
                        </div>

                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()" aria-label="Open Edit Status Menu">
                                Edit Status
                            </md-button>
                            <md-menu-content>
                                <md-menu-item><md-button ng-click="item.status = 'Open'">Set as Open</md-button></md-menu-item>
                                <md-menu-item><md-button ng-click="item.status = 'In Progress'">Set as In Progress</md-button></md-menu-item>
                                <md-menu-item><md-button ng-click="item.status = 'Done'">Set as Done</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()" aria-label="Open Edit Severity Menu">
                                Edit Severity
                            </md-button>
                            <md-menu-content>
                                <md-menu-item><md-button ng-click="item.severity = 0">Set as Passive</md-button></md-menu-item>
                                <md-menu-item><md-button ng-click="item.severity = 1">Set as Important</md-button></md-menu-item>
                                <md-menu-item><md-button ng-click="item.severity = 2">Set as Critical</md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-progress-circular class="md-warn" ng-if="item.status == 'Open'" md-mode="determinate" value="33"></md-progress-circular>
                        <md-progress-circular class="md-warn" ng-if="item.status == 'In Progress'" md-mode="determinate" value="66"></md-progress-circular>
                        <md-progress-circular ng-if="item.status == 'Done'" md-mode="determinate" value="100"></md-progress-circular>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card>
    </div>
<!-- END: base notifications view -->
