<md-nav-bar md-selected-nav-item="getCurrentState()" aria-label="Main navigation" layout="row" layout-align="center center">
    <!--<md-nav-item md-nav-href="#fleet-status" name="fleet-status">Status</md-nav-item>-->
    <md-nav-item md-nav-click="goTo('fleet-status')" name="fleet-status">Status</md-nav-item>
    <!--<md-nav-item md-nav-href="#fleet/{{fleetId}}" name="fleet">Fleet</md-nav-item>-->
    <md-nav-item md-nav-href="#pod-list" name="pod-list">Pods</md-nav-item>
    <md-nav-item md-nav-href="#reservations" name="reservations">Reservations</md-nav-item>
    <md-nav-item md-nav-href="#media" name="media">Media</md-nav-item>
    <md-nav-item md-nav-href="#waypoints" name="waypoints">Waypoints</md-nav-item>
    <md-nav-item md-nav-href="#maintenance" name="maintenance">Maintenance</md-nav-item>
    <!--<md-nav-item md-nav-href="#routes" name="routes">Route</md-nav-item>-->
    <md-nav-item md-nav-click="" ng-click="toggle=!toggle" name="stats">Statistics
        <md-list class="menuDrop" ng-show="stats = toggle" ng-hide="stats =!toggle" style="z-index: 10;">
            <md-list-item><a ui-sref="all-pods-stats">All Pods</a></md-list-item>
            <md-list-item><a ui-sref="all-journeys-stats">All Journeys</a></md-list-item>
        </md-list>
    </md-nav-item>
    <md-nav-item md-nav-click="goTo('fleet', {fleetId:fleetId})" name="fleet">Configure Fleet</md-nav-item>
</md-nav-bar>
