<main-nav></main-nav>
<secondary-nav></secondary-nav>
<md-content flex layout-padding>
    <div class="title" layout="column" layout-align="center center">
        <h1>Journey Stats</h1>
    </div>
    <div layout="column">
        <mdt-table md-table>
            <mdt-header-row md-head>
                <mdt-column>Measure</mdt-column>
                <mdt-column>Value</mdt-column>
            </mdt-header-row>
            <mdt-row>
                <mdt-cell>Total journeys</mdt-cell>
                <mdt-cell html-content="true">{{stats.total_num}}</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>Total distance</mdt-cell>
                <mdt-cell html-content="true">{{stats.total_length}}</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>Av. journey distance</mdt-cell>
                <mdt-cell html-content="true">{{stats.avg_length}}</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>Total hours</mdt-cell>
                <mdt-cell html-content="true">{{stats.total_duration / 60}}</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>Av. journey duration (mins)</mdt-cell>
                <mdt-cell html-content="true">{{stats.avg_duration}}</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>Total passengers</mdt-cell>
                <mdt-cell html-content="true">{{stats.passengers}}</mdt-cell>
            </mdt-row>
        </mdt-table>
    </div>
    <div layout="column">
        <mdt-table md-table>
            <mdt-header-row md-head>
                <mdt-column>Hour</mdt-column>
                <mdt-column>Journeys</mdt-column>
            </mdt-header-row>
            <mdt-row ng-repeat="data in stats.journeys_at_hour">
                <mdt-cell html-content="true">{{data.hour}}</mdt-cell>
                <mdt-cell html-content="true">{{data.journeys}}</mdt-cell>
            </mdt-row>
        </mdt-table>
    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
