<main-nav></main-nav>
<secondary-nav></secondary-nav>

<div layout="row" layout-align="center center" layout-padding flex class="class">
    <h1>Pods Stats</h1>
</div>

<md-content flex layout-padding>
    <div layout="column">
        <mdt-table md-table ng-model="pods">
            <mdt-header-row md-head md-order="myOrder">
                <mdt-column column-sort="true">Pod ID</mdt-column>
                <mdt-column column-sort="true">Pod Name</mdt-column>
                <mdt-column column-sort="true"># Journeys</mdt-column>
                <mdt-column column-sort="true"># Serious Issues</mdt-column>
                <mdt-column column-sort="true"># Passengers</mdt-column>
                <mdt-column column-sort="true">£ Maintenance</mdt-column>
                <mdt-column column-sort="true"># Miles Covered</mdt-column>
                <mdt-column column-sort="true"># Days In Use</mdt-column>
                <mdt-column column-sort="true"># Days In Service</mdt-column>
                <mdt-column column-sort="true"># Days Out Of Service</mdt-column>
            </mdt-header-row>
            <mdt-row ng-repeat="pod in pods">
                <mdt-cell>{{pod.id}}</mdt-cell>
                <mdt-cell>{{pod.name}}</mdt-cell>
                <mdt-cell>{{pod.journeys}}</mdt-cell>
                <mdt-cell>{{pod.breaks}}</mdt-cell>
                <mdt-cell>{{pod.passengers}}</mdt-cell>
                <mdt-cell>{{pod.maintenance_cost}}</mdt-cell>
                <mdt-cell>{{pod.miles_done}}</mdt-cell>
                <mdt-cell>{{getDaysInFleet(pod)}}</mdt-cell>
                <mdt-cell>{{pod.days_in_service}}</mdt-cell>
                <mdt-cell>{{pod.days_out_of_service}}</mdt-cell>
            </mdt-row>>
        </mdt-table>
    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>