<main-nav></main-nav>

<md-content flex layout-padding>
    <div class="title" layout="column" layout-align="center center">
        <h1>DEV</h1>
    </div>
    <div layout="row">
        <md-button class="md-raised input-height-button" ng-click="getRoutes()">Get routes</md-button>
    </div>
    <div ng-show="routes">
        <table>
            <thead>
                <th></th>
                <th>URI</th>
                <th>Method</th>
                <th>Middleware</th>
                <th>Controller</th>
            </thead>
            <tbody>
                <tr ng-repeat="r in routes">
                    <td>{{ $index + 2 }}</td>
                    <td>{{ r.uri }}</td>
                    <td>{{ r.methods }}</td>
                    <td>{{ r.middleware }}</td>
                    <td>{{ r.ctrl }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>
