<main-nav></main-nav>

<md-content flex layout-padding>
    <div class="title" layout="column" layout-align="center center">
        <h1>Pod Features</h1>
    </div>
    <div layout="column">
        <md-list>
            <md-list-item class="noright">
                <md-input-container layout="row">
                    <label>ID</label>
                    <input ng-model="newFeat.id" disabled>
                </md-input-container>
                <md-input-container layout="row">
                    <label>Name</label>
                    <input ng-model="newFeat.name">
                </md-input-container>
                <md-input-container layout="row">
                    <label>Description</label>
                    <textarea ng-model="newFeat.description" cols="60"></textarea>
                </md-input-container>
                <md-input-container layout="row">
                    <label>Is Active</label>
                    <md-select ng-model="newFeat.active">
                        <md-option value="1">Yes</md-option>
                        <md-option value="0">No</md-option>
                    </md-select>
                </md-input-container>
                <md-button ng-click="addFeature(newFeat)">
                    Add
                </md-button>
                <md-button ng-click="cancel(newFeat)">
                    Cancel
                </md-button>
            </md-list-item>
            <md-list-item class="noright" ng-repeat="feat in features">
                <md-input-container layout="row">
                    <label>ID</label>
                    <input ng-model="feat.id" disabled>
                </md-input-container>
                <md-input-container layout="row">
                    <label>Name</label>
                    <input ng-model="feat.name">
                </md-input-container>
                <md-input-container layout="row">
                    <label>Description</label>
                    <textarea ng-model="feat.description" cols="60"></textarea>
                </md-input-container>
                <md-input-container layout="row">
                    <label>Is Active</label>
                    <md-select ng-model="feat.active">
                        <md-option value="1">Yes</md-option>
                        <md-option value="0">No</md-option>
                    </md-select>
                </md-input-container>
                <md-button ng-click="save(feat, $index)">
                    Save
                </md-button>
                <md-button ng-click="delete(feat, $index)">
                    Delete
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>