<main-nav></main-nav>
<secondary-nav></secondary-nav>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout-align="center center">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span ng-if="fleet">
                        <span class="md-headline">{{fleet.name}}</span>
                    </span>
                    <span class="md-headline" ng-if="!fleet">Loading...</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div layout="column" layout-align="end center">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add New Pod</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="newPod.name">
                </md-input-container>
                <md-input-container>
                    <label>State</label>
                    <input ng-model="newPod.state">
                </md-input-container>
                <md-input-container>
                    <label>Status</label>
                    <input ng-model="newPod.status">
                </md-input-container>
                <md-input-container>
                    <label>Latitude</label>
                    <input ng-model="newPod.lat">
                </md-input-container>
                <md-input-container>
                    <label>Longitude</label>
                    <input ng-model="newPod.long">
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-disabled="!newPod" ng-click="insertPod(newPod);">Add</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>