<main-nav></main-nav>
<secondary-nav></secondary-nav>

<div layout="row" layout-padding flex class="class">
    <div layout="row" flex layout-align="start center">
        &nbsp;
    </div>
    <div layout="row" flex layout-align="center center">
        <h1>Fleet Status</h1>
    </div>
    <div layout="row" flex layout-align="end center">
        <md-button class="md-raised" ng-click="showGraphs = !showGraphs">
            <span ng-show="showGraphs">Hide </span>
            <span ng-show="!showGraphs">Show </span> Graphs
        </md-button>
        <md-button class="md-raised" ng-click="showSummary = !showSummary">
            <span ng-show="showSummary">Hide </span>
            <span ng-show="!showSummary">Show </span> Summary
        </md-button>
        <md-button class="md-raised" ng-click="showAdditional = !showAdditional">
            <span ng-show="showAdditional">Hide </span>
            <span ng-show="!showAdditional">Show </span> Additional
        </md-button>
    </div>
</div>
<md-content layout-padding>
    <div layout="column" ng-show="showSummary">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Fleet Overview</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row">
                <div flex="33" layout="column" layout-align="center center">
                    <h1>Pods</h1>
                    <p>Number of Critical Pods: {{getNumCriticalIssues(status.pods)}}</p>
                    <md-chips ng-repeat="pod in status.pods" ng-if="pod.state === 'CRITICAL'" ng-show="showAdditional">
                        <md-chip ui-sref="pod({podId: pod.id})">
                            <strong>{{pod.name}}</strong><em> (ID: {{pod.id}})</em>
                        </md-chip>
                    </md-chips>
                    <p>Number of Pods in Total: {{status.meta.counts.pods }}</p>
                    <div style="height:300px;width:300px;" ng-show="showGraphs">
                        <canvas id="podPie" class="chart chart-pie" chart-data="podData" chart-labels="podLabels" chart-options="options">
                        </canvas>
                    </div>
                </div>
                <div flex="33" layout="column" layout-align="center center">
                    <h1>Waypoints</h1>
                    <p>Number of Critical Waypoints: {{getNumCriticalIssues(status.waypoints)}}</p>
                    <md-chips ng-repeat="wp in status.waypoints" ng-if="wp.state === 'CRITICAL'" ng-show="showAdditional">
                        <md-chip ui-sref="waypoint({id: wp.id})">
                            <strong>{{wp.name}}</strong><em> (ID: {{wp.id}})</em>
                        </md-chip>
                    </md-chips>
                    <p>Number of Waypoints in Total: {{status.meta.counts.waypoints}}</p>
                    <div style="height:300px;width:300px;" ng-show="showGraphs">
                        <canvas id="journeyPie" class="chart chart-pie" chart-data="journeyData" chart-labels="podLabels" chart-options="options">
                        </canvas>
                    </div>
                </div>
                <div flex="33" layout="column" layout-align="center center">
                    <h1>Journeys</h1>
                    <p>Number of Journey Issues: {{issueJourneys.length}}</p>
                    <md-chips ng-repeat="journey in issueJourneys" ng-show="showAdditional">
                        <md-chip ui-sref="journey({id: journey.id})">
                            <strong>{{journey.name}}</strong><em> (ID: {{journey.id}})</em>
                        </md-chip>
                    </md-chips>
                    <p>Number of Active Journeys: {{status.meta.counts.active_journeys}}</p>
                    <div style="height:300px;width:300px;" ng-show="showGraphs">
                        <canvas id="journeyPie" class="chart chart-pie" chart-data="journeyData" chart-labels="podLabels" chart-options="options">
                        </canvas>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>

<md-content layout-padding>
    <md-card>
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="52.478435, -1.895047" zoom="17" style="height:600px;">
                <shape name="circle" ng-repeat="wp in status.waypoints" stroke-color="#00FF00" stroke-opacity="0.8" stroke-weight="2" fill-color="#00FF00" fill-opacity="0.35" center="{{[wp.lat, wp.long]}}" radius="6">
                </shape>
                <custom-marker position="{{[pod.lat, pod.long]}}" ng-repeat="pod in status.pods">
                    <img src="images/icons/ic_directions_bus_black_24dp_1x.png" />
                </custom-marker>
            </ng-map>
        </div>
    </md-card>
</md-content>