<main-nav></main-nav>

<md-content layout-padding>
    <div layout="row" ng-show="!showAddFleet">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search Fleets</label>
            <md-icon md-svg-src="images/icons/ic_search_black_36px.svg"></md-icon>
            <input ng-model="search.name" ng-change="currentPage = 0">
        </md-input-container>
        <span flex></span>
        <md-button ng-click="showAddFleet = !showAddFleet">Add Fleet</md-button>
    </div>
    <div flex-xs layout="row" ng-show="showAddFleet">
        <md-card flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add New Fleet</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="newFleetForm">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="newFleet.name" required>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="insertFleet(newFleet);">Add</md-button>
                <md-button ng-click="showAddFleet = !showAddFleet">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column" ng-repeat="fleet in filteredFleets = (fleets | filter:search) | pagination: currentPage * pageSize | limitTo: pageSize">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{fleet.name}} (ID: {{fleet.id}})</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Pods: {{fleet.pods}}
                </p>
                <p>
                    Waypoints: {{fleet.waypoints}}
                </p>
                <p>
                    Active journeys: {{fleet.active_journeys}}
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="selectFleet(fleet)">SELECT</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" ng-show="filteredFleets.length">
    <span flex></span>
    <span>
        <md-button class="md-icon-button" ng-disabled="currentPage == 0" ng-click="currentPage=0">
          <md-tooltip md-direction="top">Go To First Page</md-tooltip>
          <img src="images/icons/ic_first_page_black_36px.svg" style="width:24px;height:24px;"/>
        </md-button>
        <md-button class="md-icon-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-tooltip md-direction="top">Go To Previous Page</md-tooltip>
          <img src="images/icons/ic_chevron_left_black_36px.svg" style="width:24px;height:24px;"/>
        </md-button>
        <span>Page {{currentPage + 1}} of {{ filteredFleets.length / pageSize }}</span>
    <md-button class="md-icon-button" ng-disabled="currentPage >= filteredFleets.length/pageSize - 1" ng-click="currentPage = currentPage+1">
        <md-tooltip md-direction="top">Go To Next Page</md-tooltip>
        <img src="images/icons/ic_chevron_right_black_36px.svg" style="width:24px;height:24px;" />
    </md-button>
    <md-button class="md-icon-button" ng-disabled="currentPage == filteredFleets.length/pageSize - 1" ng-click="currentPage = filteredFleets.length/pageSize - 1">
        <md-tooltip md-direction="top">Go To Last Page</md-tooltip>
        <img src="images/icons/ic_last_page_black_36px.svg" style="width:24px;height:24px;" />
    </md-button>
    </span>
    <span flex></span>
</md-content>