<div layout="row">
    <span flex></span>
    <md-card layout="column" flex="60">
        <md-card-header>
            <md-card-avatar>
                <img src="images/icons/ic_directions_bus_black_36px.svg"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Fleet Management System</span>
                <span class="md-subhead">Login</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <form name="loginForm">
                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <md-icon md-svg-src="images/icons/ic_person_black_36px.svg"></md-icon>
                    <input ng-model="email" required>
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">Your email is used as your login, and is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <md-icon md-svg-src="images/icons/ic_vpn_key_black_36px.svg"></md-icon>
                    <input ng-model="password" type="password" required>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Your password is required.</div>
                    </div>
            </md-input-container>
            </form>
            <md-card-actions layout="row" layout-align="end end">
                <md-button ng-if="help" class="md-raised md-primary" aria-label="Reset Password Button">
                    Reset Password
                </md-button>
                <span ng-if="help" flex></span>
                <md-button class="md-icon-button" aria-label="Help Options Button" ng-click="help = !help">
                    <md-icon md-svg-icon="images/icons/ic_help_outline_black_36px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Login Button" ng-click="login(loginForm.email, loginForm.password)">
                    <md-icon md-svg-icon="images/icons/ic_arrow_forward_black_36px.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card-content>
        <span ng-if="loadingBar">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </span>
        <span ng-if="errorBar">
            <md-progress-linear class="md-warn" md-mode="determinate" value="100"></md-progress-linear>
        </span>
    </md-card>
    <span flex></span>
</div>
