<main-nav></main-nav>
<secondary-nav></secondary-nav>

<div layout="row" layout-align="center center" layout-padding flex class="class">
    <h1>Maintenance</h1>
</div>

<md-content flex layout-padding>
    <md-tabs>
        <md-tab label="Issues">
            <div layout="column">
                <md-list>
                    <md-list-item class="noright">
                        <md-input-container layout="row">
                            <label>Type</label>
                            <md-select ng-model="newIssue.type">
                                <md-option value="{{type}}" ng-repeat="(type, name) in issueTypes">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object</label>
                            <md-select ng-model="newIssue.object" ng-change="populateIds(newIssue, newIssue.object)">
                                <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object ID</label>
                            <md-select ng-model="newIssue.object_id">
                                <md-option value="{{object.id}}" ng-repeat="object in newIssue.objects">{{object.name}} ({{object.id}})</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Issue Description</label>
                            <textarea ng-model="newIssue.description" cols="60"></textarea>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" ng-click="addIssue()">
                            Add
                        </md-button>
                        <md-button class="md-raised" ng-click="newIssue = {}">
                            Cancel
                        </md-button>
                    </md-list-item>

                    <md-list-item class="noright" ng-repeat="issue in issues">
                        <md-input-container layout="row">
                            <label>Type</label>
                            <md-select ng-model="issue.type">
                                <md-option value="{{type}}" ng-repeat="(type, name) in issueTypes">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object</label>
                            <md-select ng-model="issue.object" ng-change="issue.object_id = null; populateIds(issue, issue.object)">
                                <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object ID</label>
                            <md-select ng-model="issue.object_id" ng-click="populateIdsIfNull(issue, issue.object)">
                                <md-option value="{{object.id}}" ng-repeat="object in issue.objects">{{object.name}} ({{object.id}})</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Issue Description</label>
                            <textarea ng-model="issue.description" cols="60"></textarea>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" ng-click="saveIssue(issue, $index)">
                            Save
                        </md-button>
                        <md-button class="md-raised" ng-click="deleteIssue(issue, $index)">
                            Delete
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="Schedule">
            <div layout="column">
                <md-list>
                    <md-list-item layout="column">
                        <div class="md-list-item-inner" style="width: 100%">
                            <md-input-container flex="15">
                                <label>Issue ID</label>
                                <md-select ng-model="newTask.issue_id" ng-change="updateTask(newTask)">
                                    <md-option value="{{issue.id}}" ng-repeat="issue in issues">{{issue.id}} ({{truncate(issue.description, 25)}})</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Object</label>
                                <md-select ng-model="newTask.object" ng-change="newTask.object_id = null; populateIds(newTask, newTask.object)">
                                    <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Object ID</label>
                                <md-select ng-model="newTask.object_id" ng-click="populateIdsIfNull(newTask, newTask.object)">
                                    <md-option value="{{object.id}}" ng-repeat="object in newTask.objects">{{object.name}} ({{object.id}})</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Work Type</label>
                                <md-select ng-model="newTask.work_type">
                                    <md-option value="{{type}}" ng-repeat="(type, name) in workTypes">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Team</label>
                                <md-select ng-model="newTask.team_id">
                                    <md-option value="{{team.id}}" ng-repeat="team in teams">
                                        {{team.name}} ({{team.id}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Engineer</label>
                                <md-select ng-model="newTask.engineer_id">
                                    <md-option value="{{engineer.id}}" ng-repeat="engineer in getEngineers(newTask.team_id)">
                                        {{engineer.first_name}} {{engineer.last_name}} ({{engineer.id}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="md-list-item-inner" style="width: 100%">
                            <md-input-container flex="20">
                                <label>Part ID</label>
                                <md-select ng-model="newTask.part_id">
                                    <md-option value="{{part.id}}" ng-repeat="part in parts">
                                        {{part.id}} ({{truncate(part.name, 25)}} {{truncate(part.maker, 10)}} {{truncate(part.model, 10)}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="10">
                                <label>Status</label>
                                <md-select ng-model="newTask.status">
                                    <md-option value="{{status}}" ng-repeat="(status, name) in taskStatuses">
                                        {{name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Scheduled Date</label>
                                <md-datepicker  ng-model="newTask.scheduled_date"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Scheduled Time</label>
                                <mdp-time-picker flex="10" ng-model="newTask.scheduled_time"></mdp-time-picker>
                            </md-input-container>
                            <md-input-container flex="10">
                                <label>Est. Time (mins)</label>
                                <input type="number" ng-model="newTask.estimated_duration_mins" min="1">
                            </md-input-container>
                            <span flex=""></span>
                            <md-button class="md-raised" ng-click="addTask()">
                                Add
                            </md-button>
                            <md-button class="md-raised" ng-click="newTask = {}">
                                Cancel
                            </md-button>
                        </div>
                    </md-list-item>

                    <md-list-item layout="column" ng-repeat="task in activeTasks">
                        <div class="md-list-item-inner" style="width: 100%">
                            <md-input-container flex="15">
                                <label>Issue ID</label>
                                <md-select ng-model="task.issue_id" ng-change="updateTask(task)">
                                    <md-option value="{{issue.id}}" ng-repeat="issue in issues">{{issue.id}} ({{truncate(issue.description, 25)}})</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Object</label>
                                <md-select ng-model="task.object" ng-change="task.object_id = null; populateIds(task, task.object)">
                                    <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Object ID</label>
                                <md-select ng-model="task.object_id" ng-click="populateIdsIfNull(task, task.object)">
                                    <md-option value="{{object.id}}" ng-repeat="object in task.objects">{{object.name}} ({{object.id}})</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Work Type</label>
                                <md-select ng-model="task.work_type">
                                    <md-option value="{{type}}" ng-repeat="(type, name) in workTypes">{{name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Team</label>
                                <md-select ng-model="task.team_id">
                                    <md-option value="{{team.id}}" ng-repeat="team in teams">
                                        {{team.name}} ({{team.id}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Engineer</label>
                                <md-select ng-model="task.engineer_id">
                                    <md-option value="{{engineer.id}}" ng-repeat="engineer in getEngineers(task.team_id)">
                                        {{engineer.first_name}} {{engineer.last_name}} ({{engineer.id}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="md-list-item-inner" style="width: 100%">
                            <md-input-container flex="20">
                                <label>Part ID</label>
                                <md-select ng-model="task.part_id">
                                    <md-option value="{{part.id}}" ng-repeat="part in parts">
                                        {{part.id}} ({{truncate(part.name, 25)}} {{truncate(part.maker, 10)}} {{truncate(part.model, 10)}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="10">
                                <label>Status</label>
                                <md-select ng-model="task.status">
                                    <md-option value="{{status}}" ng-repeat="(status, name) in taskStatuses">
                                        {{name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Scheduled Date</label>
                                <md-datepicker  ng-model="task.scheduled_date"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>Scheduled Time</label>
                                <mdp-time-picker flex="10" ng-model="task.scheduled_time"></mdp-time-picker>
                            </md-input-container>
                            <md-input-container flex="10">
                                <label>Est. Time (mins)</label>
                                <input type="number" ng-model="task.estimated_duration_mins" min="1">
                            </md-input-container>
                            <span flex=""></span>
                            <md-button class="md-raised" ng-click="saveTask(task, $index)">
                                Save
                            </md-button>
                            <md-button class="md-raised" ng-click="deleteTask(task, $index)">
                                Cancel Task
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="Parts">
            <div layout="column">
                <md-list>
                    <!--'object', 'part_description', 'name', 'maker', 'price', 'model'-->
                    <md-list-item class="noright">
                        <md-input-container layout="row">
                            <label>Name</label>
                            <input ng-model="newPart.name">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Maker</label>
                            <input ng-model="newPart.maker">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Price</label>
                            <input ng-model="newPart.price">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Model</label>
                            <input ng-model="newPart.model">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object</label>
                            <md-select ng-model="newPart.object">
                                <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Description</label>
                            <textarea ng-model="newPart.part_description" cols="60"></textarea>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" ng-click="addPart()">
                            Add
                        </md-button>
                        <md-button class="md-raised" ng-click="newPart = {}">
                            Cancel
                        </md-button>
                    </md-list-item>

                    <md-list-item class="noright" ng-repeat="part in parts">
                        <md-input-container layout="row">
                            <label>ID</label>
                            <input ng-model="part.id" disabled>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Name</label>
                            <input ng-model="part.name">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Maker</label>
                            <input ng-model="part.maker">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Price</label>
                            <input ng-model="part.price">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Model</label>
                            <input ng-model="part.model">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Object</label>
                            <md-select ng-model="part.object">
                                <md-option value="{{obj}}" ng-repeat="(obj, name) in maitenanceObjects">{{name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Description</label>
                            <textarea ng-model="part.part_description" cols="60"></textarea>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" ng-click="savePart(part, $index)">
                            Save
                        </md-button>
                        <md-button ng-click="deletePart(part, $index)">
                            Delete
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="Teams">
            <div layout="column">
                <md-list>
                    <md-list-item class="noright">
                        <md-input-container layout="row">
                            <label>Name</label>
                            <input ng-model="newTeam.name">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Note</label>
                            <textarea ng-model="newTeam.note"></textarea>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" class="md-raised" ng-click="addTeam()">
                            Add
                        </md-button>
                        <md-button class="md-raised" ng-click="newTeam = {}">
                            Cancel
                        </md-button>
                    </md-list-item>

                    <md-list-item class="noright" ng-repeat="team in teams">
                        <md-input-container layout="row">
                            <label>Name</label>
                            <input ng-model="team.name">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Note</label>
                            <textarea ng-model="team.note"></textarea>
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Engineers</label>
                            <md-select multiple ng-model="team.engineer_ids">
                                <md-option ng-repeat="engineer in engineers"
                                           ng-if="engineer.team_id == team.id || !engineer.team_id" value="{{engineer.id}}">
                                    {{engineer.id}} ({{engineer.first_name}} {{engineer.last_name}})
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <span flex=""></span>
                        <md-button class="md-raised" ng-click="saveTeam(team, $index)">
                            Save
                        </md-button>
                        <md-button class="md-raised" ng-click="deleteTeam(team, $index)">
                            Delete
                        </md-button>
                    </md-list-item>
                </md-list>`
            </div>
        </md-tab>
        <md-tab label="Completed Tasks">
            <mdt-table md-table ng-model="completedTasks">
                <mdt-header-row md-head md-order="myOrder">
                    <mdt-column column-sort="true">Task ID</mdt-column>
                    <mdt-column column-sort="true">Issue ID</mdt-column>
                    <mdt-column column-sort="true">Object </mdt-column>
                    <mdt-column column-sort="true">Object ID </mdt-column>
                    <mdt-column>Schedule Date </mdt-column>
                    <mdt-column>Schedule Time </mdt-column>
                    <mdt-column>Complete Date </mdt-column>
                    <mdt-column>Complete Time </mdt-column>
                    <mdt-column column-sort="true">Team </mdt-column>
                    <mdt-column column-sort="true">Engineer </mdt-column>
                    <mdt-column>Est. time</mdt-column>
                    <mdt-column column-sort="true">Actual time </mdt-column>
                </mdt-header-row>
                <mdt-row ng-repeat="task in completedTasks">
                    <mdt-cell>{{task.id}}</mdt-cell>
                    <mdt-cell>{{task.issue_id}}</mdt-cell>
                    <mdt-cell>{{task.object}}</mdt-cell>
                    <mdt-cell>{{task.object_id}}</mdt-cell>
                    <mdt-cell>{{task.scheduled_date}}</mdt-cell>
                    <mdt-cell>{{task.scheduled_time}}</mdt-cell>
                    <mdt-cell>{{task.completed_date}}</mdt-cell>
                    <mdt-cell>{{task.completed_time}}</mdt-cell>
                    <mdt-cell>{{task.team_id}}</mdt-cell>
                    <mdt-cell>{{task.engineer_id}}</mdt-cell>
                    <mdt-cell>{{task.estimated_duration_mins}}</mdt-cell>
                    <mdt-cell>{{task.actual_duration_mins}}</mdt-cell>
                </mdt-row>>
            </mdt-table>
        </md-tab>
        <md-tab label="Cancelled Tasks">
            <mdt-table md-table ng-model="cancelledTasks">
                <mdt-header-row md-head md-order="myOrder">
                    <mdt-column column-sort="true">Task ID</mdt-column>
                    <mdt-column column-sort="true">Issue ID</mdt-column>
                    <mdt-column column-sort="true">Object </mdt-column>
                    <mdt-column column-sort="true">Object ID </mdt-column>
                    <mdt-column>Schedule Date</mdt-column>
                    <mdt-column>Schedule Time</mdt-column>
                    <mdt-column>Cancelled Reason</mdt-column>
                    <mdt-column>Cancelled By</mdt-column>
                    <mdt-column>Cancelled Date</mdt-column>
                </mdt-header-row>
                <mdt-row ng-repeat="task in cancelledTasks">
                    <mdt-cell>{{task.id}}</mdt-cell>
                    <mdt-cell>{{task.issue_id}}</mdt-cell>
                    <mdt-cell>{{task.object}}</mdt-cell>
                    <mdt-cell>{{task.object_id}}</mdt-cell>
                    <mdt-cell>{{task.scheduled_date}}</mdt-cell>
                    <mdt-cell>{{task.scheduled_time}}</mdt-cell>
                    <mdt-cell>{{task.cancelled_reason}}</mdt-cell>
                    <mdt-cell>{{task.cancelled_by}}</mdt-cell>
                    <mdt-cell>{{task.cancelled_at}}</mdt-cell>
                </mdt-row>>
            </mdt-table>
        </md-tab>
    </md-tabs>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>