<main-nav></main-nav>
<!--<div layout="row" ng-show="!loggedIn">-->
    <div layout="column" flex id="content" role="main">
        <md-content layout="vertical" flex id="content">
            <div layout="row" layout-align="center center" layout-fill>
                <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
                    <md-content>
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="email">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="password" type="password">
                        </md-input-container>
                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button class="md-raised" flex="50" flex-sm="100" ng-click="login()">Login</md-button>
                                <!--<md-button class="md-raised md-primary" flex="50" flex-sm="100">Register</md-button>-->
                            </div>
                        </md-input-container>
                    </md-content>
                </md-whiteframe>
            </div>
        </md-content>
    </div>
<!--</div>-->

<md-content class="container">
    <!--
    <div layout="row" ng-show="!loggedIn">
        <div flex=""></div>
        <!--<form layout="row" ng-show="!loggedIn">-->
    <!-- ,
        <form layout="row">
            <md-input-container flex-gt-sm layout="row">
                <label>Email</label>
                <input ng-model="email">
            </md-input-container>
            <md-input-container flex-gt-sm  layout="row">
                <label>Password</label>
                <input type="password" ng-model="password">
            </md-input-container>
            <md-button class="md-raised input-height-button" ng-click="login()">Login</md-button>
        </form>
        <md-button class="md-raised input-height-button" ng-click="logout()" ng-show="loggedIn">Logout</md-button>
    </div>
    <!--<div layout="row">-->
        <!--<div flex=""></div>-->
        <!--<form layout="row">-->
            <!--<md-input-container flex-gt-sm layout="row">-->
                <!--<label>Email</label>-->
                <!--<input ng-model="$parent.email_token" ng-if="!users">-->
                <!--<md-select ng-if="users" ng-model="$parent.email_token">-->
                    <!--<md-option ng-repeat="u in users" value="{{u.email}}">{{u.email}}</md-option>-->
                <!--</md-select>-->
            <!--</md-input-container>-->
            <!--<md-input-container flex-gt-sm  layout="row">-->
                <!--<label>Password</label>-->
                <!--<input ng-model="password_token">-->
            <!--</md-input-container>-->
            <!--<md-button class="md-raised input-height-button" ng-click="getToken()" flex="10">Get token</md-button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div ng-show="showToken" layout="row" style="font-size: 5px; padding: 10px; word-wrap: break-word">-->
        <!--{{user_token}}-->
    <!--</div>-->
    <!--<div ng-show="loggedIn">-->
        <!--<md-content class="md-padding" layout-xs="column" layout="row">-->
            <!--<div flex-xs flex-gt-xs="100" layout="column">-->
                <!--<md-card>-->
                    <!--<md-card-header>-->
                        <!--<md-card-header-text>-->
                            <!--<span class="md-title">Pods</span>-->
                        <!--</md-card-header-text>-->
                    <!--</md-card-header>-->
                    <!--<md-card-content>-->
                        <!--<div layout="column">-->
                            <!--<p class="buffer-right-10">Total pods: {{sortedPods.count}}</p><br>-->
                            <!--<p class="buffer-right-10">Operational pods: {{sortedPods.state.OK.count}}</p><br>-->
                            <!--<p class="buffer-right-10">Parked pods: {{sortedPods.status.PARKED.count}}</p><br>-->
                            <!--<p class="buffer-right-10">Broken down pods: {{sortedPods.state.CRITICAL.count}}</p>-->
                        <!--</div>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->
            <!--</div>-->
        <!--</md-content>-->
    <!--</div>-->

    <!--<div ng-show="updates">-->
        <!--<div ng-repeat="update in updates">-->
            <!--{{update}}-->
        <!--</div>-->
    <!--</div>-->
<!--</md-content>-->

<div ng-include="'views/templates/footer.html'"></div>