<main-nav></main-nav>
<secondary-nav></secondary-nav>
<div layout="row" layout-align="center center" layout-padding flex class="title">
    <h1>Media packages</h1>
</div>
<md-content layout-padding>
    <div layout="row" ng-show="!showAddWp">
        <span flex></span>
        <md-button class="md-raised" ng-click="showAddPackage = !showAddPackage">
            Add Package
        </md-button>
    </div>
    <div flex-xs layout="row" ng-show="showAddPackage">
        <md-card flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add New Package</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="newPackageForm">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="newPackage.name" required>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="addPackage(newPackage)">Add</md-button>
                <md-button class="md-raised" ng-click="showAddWp = !showAddPackage">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<md-content flex layout-padding>
    <mdt-table md-table ng-model="mediaPacks">
        <mdt-header-row md-head>
            <mdt-column column-sort="true">Package ID</mdt-column>
            <mdt-column column-sort="true">Name</mdt-column>
            <mdt-column column-sort="true">Created At</mdt-column>
        </mdt-header-row>
        <!--NOTE: currently there is an issue with setting ng-click on row, hence the ugly links, update plugin later, try again-->
        <mdt-row ng-repeat="pack in mediaPacks">
            <!--ui-sref doesn't work with '-', hence route package rather than media-package-->
            <mdt-cell html-content="true"><a ui-sref="media-detail({packageId: pack.id})">{{pack.id}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="media-detail({packageId: pack.id})">{{pack.name}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="media-detail({packageId: pack.id})">{{pack.created_at}}</a></mdt-cell>
        </mdt-row>>
    </mdt-table>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>