<main-nav></main-nav>
<secondary-nav></secondary-nav>
<div layout="row" layout-align="center center" layout-padding flex class="title">
    <h1>Media Package {{mediaPack.name}} (ID: {{mediaPack.id}})</h1>
</div>

<md-content layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit Media Package</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="space-around center">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="mediaPack.name">
                </md-input-container>
                Created at: {{mediaPack.created_at}}
                <md-button class="md-raised"
                           ng-click="deactivatePackage(mediaPack.id);" ng-show="mediaPack.active == 1">
                    Deactivate
                </md-button>
                <md-button class="md-raised"
                           ng-click="activatePackage(mediaPack.id);" ng-show="mediaPack.active == 0">
                    Activate
                </md-button>
            </div>
            <div layout="row" layout-align="space-around center">
                <md-input-container>
                    <label>Use In Pods</label>
                    <md-select ng-model="mediaPack.pods" multiple ng-disabled="!mediaPack.id">
                        <md-option ng-repeat="pod in pods" value="{{pod.id}}" ng-click="updatePodList(pod.id, mediaPack)">
                            {{pod.name}}({{pod.id}})
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Media In Package</label>
                    <md-select ng-model="mediaPack.media_items" multiple ng-disabled="!mediaPack.id">
                        <md-option ng-repeat="media in mediaItems" value="{{media.id}}" ng-click="updateMediaList(media.id, mediaPack)">
                            {{media.name}}(ID {{media.id}}, type {{media.type}})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>
        <div layout="row">
            <span flex=""></span>
            <md-button class="md-raised" ng-click="updatePackage(mediaPack)">Update</md-button>
            <md-button class="md-raised" ng-click="deletePackage(mediaPack.id)">Delete</md-button>
        </div>
    </md-card>
</md-content>

<md-content flex layout-padding>
    <md-card ng-repeat="itemId in mediaPack.media_items">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit Media Settings</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="space-around center">
                <p>ID: {{mediaItems[itemId].id}}</p>
                <p>Name: {{mediaItems[itemId].name}}</p>
                <p>Type: {{mediaItems[itemId].type}}</p>
            </div>
            <div layout="row" layout-align="space-around center">
                <md-input-container flex-gt-sm  layout="row">
                    <label>Play frequency</label>
                    <input ng-model="mediaPack.media_data[itemId].play_every_n_seconds">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Start Playing At Time</label>
                    <input ng-model="mediaPack.media_data[itemId].start_time">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Do Not Play After</label>
                    <input ng-model="mediaPack.media_data[itemId].end_time">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around center">
                <md-input-container flex-gt-sm  layout="row">
                    <label>Start At Long</label>
                    <input ng-model="mediaPack.media_data[itemId].lat">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Start At Lat</label>
                    <input ng-model="mediaPack.media_data[itemId].long">
                </md-input-container>
            </div>
        </md-card-content>
        <div layout="row">
            <span flex=""></span>
            <md-button class="md-raised"
                       ng-click="saveMediaSetting(mediaPack.media_data[itemId], mediaPack.id, itemId)">
                Save
            </md-button>
        </div>
    </md-card>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>