<main-nav></main-nav>

<div layout="row">
    <span flex></span>
    <md-content flex="80">
        <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="md-avatar-icon" md-svg-icon="images/icons/ic_person_black_36px.svg"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{user.email}}</span>
                <span class="md-subhead">{{user.first_name}} {{user.last_name}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                Here you can review your account, and make changes as you deem fit.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-click="ACTION_AREA_SWITCH=1">Update Email</md-button>
            <md-button ng-click="ACTION_AREA_SWITCH=2">New Password</md-button>
            <md-button ng-click="ACTION_AREA_SWITCH=3">Review Preferences</md-button>
        </md-card-actions>

        <!--
        ACTION AREAS
        -->
        <md-card-content ng-if="ACTION_AREA_SWITCH == 1 || ACTION_AREA_SWITCH == null || ACTION_AREA_SWITCH == false">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Update Your Current Email ({{user.email}})</md-subheader>

            <md-list-item>
                <md-input-container>
                    <label>New Email</label>
                    <input ng-model="updateEmail.email">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <label>Confirm New Email</label>
                    <input ng-model="updateEmail.confirmEmail">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="updateEmail.password">
                </md-input-container>
            </md-list-item>

            <span layout="row" layout-align="end end">
                <md-button class="md-raised md-primary">Update</md-button>
            </span>
        </md-card-content>
        <md-card-content ng-if="ACTION_AREA_SWITCH == 2">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Set A New Password</md-subheader>

            <md-list-item>
                <md-input-container>
                    <label>Old Password</label>
                    <input ng-model="updateEmail.oldPassword">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <label>New Password</label>
                    <input ng-model="updateEmail.newPassword">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <label>Confirm New Password</label>
                    <input ng-model="updateEmail.confirmNewPassword">
                </md-input-container>
            </md-list-item>

            <span layout="row" layout-align="end end">
                <md-button class="md-raised md-primary">Set Password</md-button>
            </span>
        </md-card-content>
        <md-card-content ng-if="ACTION_AREA_SWITCH == 3">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Preferences</md-subheader>

            <md-list-item>
                <p> Example A </p>
                <md-switch class="md-primary" ng-model="setting.example_a"></md-switch>
            </md-list-item>

            <md-list-item>
                <p> Example B </p>
                <md-switch class="md-primary" ng-model="setting.example_b"></md-switch>
            </md-list-item>

            <md-list-item>
                <p> Example C </p>
                <md-switch class="md-primary" ng-model="setting.example_c"></md-switch>
            </md-list-item>

            <span layout="row" layout-align="end end">
                <md-button class="md-raised md-primary">Save</md-button>
            </span>
        </md-card-content>
        </md-card>
    </md-content>
    <span flex></span>
</div>

<div ng-include="'views/templates/footer.html'"></div>
