<main-nav></main-nav>
<secondary-nav></secondary-nav>

<div layout="row" layout-align="center center" layout-padding flex class="class">
    <h1>Pod {{pod.name}} (ID: {{pod.id}})</h1>
</div>

<md-content layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit Pod</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Name</label>
                <input ng-model="pod.name">
            </md-input-container>
            Status: {{pod.status}}
            <md-button class="md-raised"
                       ng-show="pod.status === 'OUT_OF_SERVICE'"
                       ng-click="reactivatePod(pod)">
                Reactivate
            </md-button>
            <md-button class="md-raised"
                       ng-show="pod.status !== 'OUT_OF_SERVICE'"
                       ng-click="deactivatePod(pod)">
                Deactivate
            </md-button>
            <md-input-container>
                <label>State</label>
                <md-select ng-model="pod.state">
                    <md-option ng-repeat="state in podStates"
                               value="{{state}}"
                               ng-disabled="state === pod.state">
                        {{state}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised" ng-click="updateState(pod)">Update state</md-button>
            Position: {{pod.lat}}, {{pod.long}}
            <md-input-container>
                <label>Features</label>
                <md-select ng-model="pod.feature_ids" multiple="">
                    <md-option ng-repeat="feat in features" value="{{feat.id}}" ng-click="updateFeatureList(feat.id, pod)">{{feat.name}}</md-option>
                </md-select>
            </md-input-container>
        </md-card-content>
        <div layout="row">
            <span flex=""></span>
            <md-button class="md-raised" ng-click="updatePod()">Update</md-button>
            <md-button class="md-raised" ng-click="deletePod()">Delete</md-button>
        </div>
    </md-card>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
