<main-nav></main-nav>
<secondary-nav></secondary-nav>

<md-content layout-padding>
    <div layout="row" ng-show="!showAddFleet">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Search Pods</label>
            <md-icon md-svg-src="images/icons/ic_search_black_36px.svg"></md-icon>
            <input ng-model="search.name" ng-change="currentPage = 0">
        </md-input-container>
        <span flex></span>
        <md-button ng-click="showAddPod = !showAddPod">Add Pod</md-button>
    </div>
    <div flex-xs layout="row" ng-show="showAddPod">
        <md-card flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add New Pod</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="newPodForm">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="newPod.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Location</label>
                        <md-select ng-model="newPod.waypoint_id">
                            <md-option ng-repeat="wp in waypoints" value="{{wp.id}}">
                                {{wp.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="insertPod(newPod);">Add</md-button>
                <md-button ng-click="showAddPod = !showAddPod">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column" ng-repeat="pod in filteredPods = (pods | filter:search) | pagination: currentPage * pageSize | limitTo: pageSize">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{pod.name}} (ID: {{pod.id}})</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Pods Fleet ID: {{pod.fleet_id}}
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="pod({fleetId: pod.fleet_id, podId: pod.id})">SELECT</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" ng-show="filteredPods.length">
    <span flex></span>
    <span>
        <md-button class="md-icon-button" ng-disabled="currentPage == 0" ng-click="currentPage=0">
          <md-tooltip md-direction="top">Go To First Page</md-tooltip>
          <img src="images/icons/ic_first_page_black_36px.svg" style="width:24px;height:24px;"/>
        </md-button>
        <md-button class="md-icon-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-tooltip md-direction="top">Go To Previous Page</md-tooltip>
          <img src="images/icons/ic_chevron_left_black_36px.svg" style="width:24px;height:24px;"/>
        </md-button>
        <span>Page {{currentPage + 1}} of {{ filteredPods.length / pageSize }}</span>
    <md-button class="md-icon-button" ng-disabled="currentPage >= filteredPods.length/pageSize - 1" ng-click="currentPage = currentPage+1">
        <md-tooltip md-direction="top">Go To Next Page</md-tooltip>
        <img src="images/icons/ic_chevron_right_black_36px.svg" style="width:24px;height:24px;" />
    </md-button>
    <md-button class="md-icon-button" ng-disabled="currentPage == filteredPods.length/pageSize - 1" ng-click="currentPage = filteredPods.length/pageSize - 1">
        <md-tooltip md-direction="top">Go To Last Page</md-tooltip>
        <img src="images/icons/ic_last_page_black_36px.svg" style="width:24px;height:24px;" />
    </md-button>
    </span>
    <span flex></span>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>