<main-nav></main-nav>
<secondary-nav></secondary-nav>

<md-content flex layout-padding>
    <div class="title" layout="column" layout-align="center center">
        <h1>Manage Reservations</h1>
    </div>
</md-content>
<md-content flex layout-padding>
    <mdt-table md-table ng-model="pods">
        <mdt-header-row md-head>
            <mdt-column column-sort="true">Reservation ID</mdt-column>
            <mdt-column column-sort="true">User ID</mdt-column>
            <mdt-column column-sort="true">Journey ID</mdt-column>
            <mdt-column column-sort="true">Initial ETA</mdt-column>
            <mdt-column column-sort="true">Created at</mdt-column>
            <mdt-column column-sort="true">Status</mdt-column>
            <mdt-column column-sort="true">Cancel</mdt-column>
        </mdt-header-row>
        <mdt-row ng-repeat="res in reservations">
            <mdt-cell html-content="true">{{res.id}}</mdt-cell>
            <mdt-cell html-content="true">{{res.user_id}}</mdt-cell>
            <mdt-cell html-content="true">{{res.journey_id}}</mdt-cell>
            <mdt-cell html-content="true">{{res.initial_eta}}</mdt-cell>
            <mdt-cell html-content="true">{{res.created_at}}</mdt-cell>
            <mdt-cell html-content="true">{{res.status}}</mdt-cell>
            <mdt-cell html-content="true">
                <md-button ng-show="res.status === 'PROVISIONAL' || res.status === 'CONFIRMED'"
                           ng-click="cancelReservation(res.id, $index)">
                    Cancel
                </md-button>
            </mdt-cell>
        </mdt-row>>
    </mdt-table>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
