<main-nav></main-nav>
<secondary-nav></secondary-nav>

<md-content>
    <div layout="row">
        <md-input-container>
            <label>ID</label>
            <input ng-model="route.id" disabled>
        </md-input-container>
        <md-input-container>
            <label>Name</label>
            <input ng-model="route.name">
        </md-input-container>
        <md-input-container>
            <label>State</label>
            <md-select ng-model="route.state">
                <md-option ng-repeat="(state, name) in routeStates" value="{{state}}">{{name}}</md-option>
            </md-select>
        </md-input-container>
        <span flex=""></span>
        <md-button ng-click="updateRoute()">Update</md-button>
        <md-button ng-click="deleteRoute()">Delete</md-button>
    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
