<main-nav></main-nav>
<secondary-nav></secondary-nav>

<md-content>
    <div layout="row">
        <span flex></span>
        <md-button ng-click="showAdd = !showAdd">New Route</md-button>
    </div>
    <div layout="row" ng-show="showAdd">
        <md-input-container>
            <label>Name</label>
            <input ng-model="newRoute.name">
        </md-input-container>
        <md-button ng-click="addRoute()">Add Waipoint</md-button>
        <md-button ng-click="newRoute = {}; showAdd = !showAdd">Cancel</md-button>
    </div>
    <mdt-table md-table ng-model="waypoints">
        <mdt-header-row md-head md-order="myOrder">
            <mdt-column column-sort="true">Route ID</mdt-column>
            <mdt-column column-sort="true">Name</mdt-column>
            <mdt-column column-sort="true">State</mdt-column>
            <mdt-column>Added</mdt-column>
        </mdt-header-row>
        <!--NOTE: currently there is an issue with setting ng-click on row, hence the ugly links, update plugin later, try again-->
        <mdt-row ng-repeat="route in routes">
            <mdt-cell html-content="true"><a ui-sref="route({id: route.id})">{{route.id}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="route({id: route.id})">{{route.name}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="route({id: route.id})">{{route.state}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="route({id: route.id})">{{route.created_at}}</a></mdt-cell>
        </mdt-row>>
    </mdt-table>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
