<main-nav></main-nav>

<div layout="row">
    <span flex></span>
    <md-content flex="80">
    <md-card>
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('system-settings')" name="system-settings">System Settings</md-nav-item>
                <md-nav-item md-nav-click="goto('passenger-management')" name="passenger-management">Passenger Management</md-nav-item>
                <md-nav-item md-nav-click="goto('staff-management')" name="staff-management">Staff Management</md-nav-item>
            </md-nav-bar>
            <div class="ext-content">
                <md-card-content ng-if="currentNavItem == 'system-settings'">
                    <md-list>
                        <md-subheader class="md-no-sticky">Choice Settings</md-subheader>

                        <md-list-item>
                            <p>Choice A</p>
                            <md-checkbox class="md-primary" ng-model="choice_a"></md-checkbox>
                        </md-list-item>
                        <md-list-item>
                            <p>Choice B</p>
                            <md-checkbox class="md-primary" ng-model="choice_b"></md-checkbox>
                        </md-list-item>
                        <md-list-item>
                            <p>Choice C</p>
                            <md-checkbox class="md-primary" ng-model="choice_c"></md-checkbox>
                        </md-list-item>

                        <md-subheader class="md-no-sticky">Clickable Items with Secondary Controls</md-subheader>

                        <md-list-item>
                            <p> Example A </p>
                            <md-switch class="md-primary" ng-model="setting.example_a"></md-switch>
                        </md-list-item>

                        <md-list-item>
                            <p> Example B </p>
                            <md-switch class="md-primary" ng-model="setting.example_b"></md-switch>
                        </md-list-item>

                        <md-list-item>
                            <p> Example C </p>
                            <md-switch class="md-primary" ng-model="setting.example_c"></md-switch>
                        </md-list-item>

                        <md-divider></md-divider>

                        <span layout="row" layout-align="end end">
                            <md-button class="md-raised md-primary">Save</md-button>
                        </span>

                    </md-list>
                </md-card-content>
                <md-card-content ng-if="currentNavItem == 'passenger-management'">
                    <md-list>
                        <md-subheader class="md-no-sticky">Passenger Issues</md-subheader>

                        <md-list-item class="secondary-button-padding">
                            <p>Alex Bloggings had issues with Pod 123</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Investigate</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                            <p>Reports have said that Pod 111 has been making some strange noises</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Investigate</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding">
                            <p>Leigh Democritus had issues with Pod 552</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Investigate</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                            <p>Roeland Shaw had issues with Pod 543</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Investigate</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding">
                            <p>Olavi Odell pod was 20 minutes late</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Investigate</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                            <p>Rufus Donato pod was 15 minutes late</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Done</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding">
                            <p>Paavo Aristaeus original pod did not show up</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Done</md-button>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                            <p>Toivo Przemysław had issues with Pod 345</p>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">In Progress</md-button>
                        </md-list-item>

                    </md-list>
                </md-card-content>
                <md-card-content ng-if="currentNavItem == 'staff-management'">
                    <md-list>
                        <md-subheader class="md-no-sticky">Invite User</md-subheader>

                        <md-list-item class="secondary-button-padding">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="staff.invite">
                            </md-input-container>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Send Invite</md-button>
                        </md-list-item>

                        <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Remove User</md-subheader>

                        <md-list-item class="secondary-button-padding">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="staff.delete">
                            </md-input-container>
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Remove User</md-button>
                        </md-list-item>

                        <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Apply New Role To A User</md-subheader>

                        <md-list-item class="secondary-button-padding">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="staff.updateEmail">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding">
                            <md-input-container flex="50">
                                <label>User Type</label>
                                <md-select name="type" ng-model="staff.updateRole">
                                    <md-option value="admin">Admin</md-option>
                                    <md-option value="delegate">Delegate</md-option>
                                </md-select>
                            </md-input-container>
                         </md-list-item>
                         <md-list-item class="secondary-button-padding">
                            <md-button class="md-secondary" ng-click="doSecondaryAction($event)">Update</md-button>
                        </md-list-item>

                        <md-divider></md-divider>
                    </md-list>
                </md-card-content>
            </div>
    </md-card>
    </md-content>
    <span flex></span>
</div>

<div ng-include="'views/templates/footer.html'"></div>