<main-nav></main-nav>

<md-content flex layout-padding>
    <div class="title" layout="column" layout-align="center center">
        <h1>Manage Users</h1>
    </div>
    <div layout="row">
        <div flex=""></div>
        <md-button class="md-raised input-height-button" ng-click="showAddUser = !showAddUser" ng-show="!showAddUser">Add user</md-button>
    </div>
    <div>
        <form ng-show="showAddUser" layout-gt-xs="row">
            <md-input-container flex-gt-sm  layout="row">
                <label>First name</label>
                <input ng-model="newUser.first_name">
            </md-input-container>
            <md-input-container flex-gt-sm  layout="row">
                <label>Last name</label>
                <input ng-model="newUser.last_name">
            </md-input-container>
            <md-input-container flex="20">
                <label>Email</label>
                <input ng-model="newUser.email">
            </md-input-container>
            <md-input-container flex="20">
                <label>Password</label>
                <input ng-model="newUser.password">
            </md-input-container>
            <md-input-container flex="20">
                <label>User role</label>
                <md-select ng-model="newUser.role">
                    <md-option ng-repeat="(key, role) in userRoles" value="{{key}}">
                        {{role}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised input-height-button" ng-click="addUser()"  flex="10">Create User</md-button>
            <md-button class="md-raised input-height-button" ng-click="showAddUser = !showAddUser" flex="10">Cancel</md-button>
        </form>
    </div>

    <div layout="column">
        <md-list>
            <md-list-item class="noright" ng-repeat="user in users">
                <md-input-container flex-gt-sm  layout="row">
                    <label>ID</label>
                    <input ng-model="user.id" disabled>
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>First name</label>
                    <input ng-model="user.first_name">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Last name</label>
                    <input ng-model="user.last_name">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Email</label>
                    <input ng-model="user.email">
                </md-input-container>
                <md-input-container flex-gt-sm  layout="row">
                    <label>Role</label>
                    <md-select ng-model="user.role">
                        <md-option ng-repeat="(key, role) in userRoles" value="{{key}}">
                            {{role}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-secondary" ng-click="saveUser(user)">Save</md-button>
                <md-button class="md-secondary" ng-click="deleteUser(user.id, $index)">Delete</md-button>
            </md-list-item>

        </md-list>

    </div>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
