<main-nav></main-nav>
<secondary-nav></secondary-nav>
<div layout="row" layout-align="center center" layout-padding flex class="title">
    <h1>Waypoints</h1>
</div>
<md-content flex layout-padding>
    <div layout="row" ng-show="!showAddWp">
        <span flex></span>
        <md-button ng-click="showAddWp = !showAddWp">Add Waypoint</md-button>
    </div>
    <div flex-xs layout="row" ng-show="showAddWp">
        <md-card flex="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Add New Waypoint</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="newWpForm">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="newWaypoint.name">
                    </md-input-container>
                    <md-input-container>
                        <label>lat</label>
                        <input ng-model="newWaypoint.lat">
                    </md-input-container>
                    <md-input-container>
                        <label>Long</label>
                        <input ng-model="newWaypoint.long">
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="addWaypoint(newWaypoint)">Add</md-button>
                <md-button ng-click="showAddWp = !showAddWp">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<md-content flex layout-padding>
    <mdt-table md-table ng-model="waypoints">
        <mdt-header-row md-head md-order="myOrder">
            <mdt-column column-sort="true">Waypoint ID</mdt-column>
            <mdt-column column-sort="true">Name</mdt-column>
            <mdt-column column-sort="true">State</mdt-column>
            <mdt-column column-sort="true">Lat</mdt-column>
            <mdt-column column-sort="true">Long</mdt-column>
            <mdt-column>Added</mdt-column>
        </mdt-header-row>
        <!--NOTE: currently there is an issue with setting ng-click on row, hence the ugly links, update plugin later, try again-->
        <mdt-row ng-repeat="waypoint in waypoints">
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.id}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.name}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.state}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.lat}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.long}}</a></mdt-cell>
            <mdt-cell html-content="true"><a ui-sref="waypoint({id: waypoint.id})">{{waypoint.created_at}}</a></mdt-cell>
        </mdt-row>>
    </mdt-table>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
