<main-nav></main-nav>
<secondary-nav></secondary-nav>

<div layout="row" layout-align="center center" layout-padding flex class="class">
    <h1>Waypoint {{waypoint.name}} (ID: {{waypoint.id}})</h1>
</div>

<md-content layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit Waypoint</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Name</label>
                <input ng-model="waypoint.name">
            </md-input-container>
            <md-input-container>
                <label>State</label>
                <md-select ng-model="waypoint.state">
                    <md-option ng-repeat="(state, name) in waypointStates" value="{{state}}">{{name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Latitude</label>
                <input ng-model="waypoint.lat">
            </md-input-container>
            <md-input-container>
                <label>Longitude</label>
                <input ng-model="waypoint.long">
            </md-input-container>
        </md-card-content>
        <div layout="row">
            <span flex=""></span>
            <md-button class="md-raised" ng-click="updateWaypoint()">Update</md-button>
            <md-button class="md-raised" ng-click="deleteWaypoint()">Delete</md-button>
        </div>
    </md-card>
</md-content>

<div ng-include="'views/templates/footer.html'"></div>
